<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">NewsScraper</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn-large left">Saved</a></li>
            <li><a class="waves-effect waves-light btn-large right">Scrape!</a></li>
            <li><a class="waves-effect waves-light btn-large right">Clear</a></li>
        </ul>
    </div>
</nav>