{{>header}}
{{#each article}}
<div id="articles">
    <div class="row">
        <div class="col-10 offset-1 articleTitle">
            <p>
                <a href="{{this.link}}">{{this.title}}</a>
                <button class="btn-large blue waves-effect right" id="deleteArticle">Delete</button>
                <button class="btn-large blue waves-effect right" id="saveArticle">Save</button>
            </p>
        </div>
        <div class="col-10 offset-1 articleBody">
            {{this.summary}}
        </div>
    </div>
</div>
</div>
{{/each}}